html {
  font-family: monospace;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: lightgrey;
}

body {
  margin: 0;
  padding: 0;
  width: 90%;
}

section {
  margin: 30px 0;
}
nav {
  margin: 10px 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

#menu-title {
  margin: 0 5px;
  padding: 0;
}

.menu-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: end;
  width: 100%;
  list-style-type: none;
}

.menu-list li {
  margin: 0 10px;
}

.section-presentation {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.profile-ph-containter {
  display: flex;
  align-items: center;
  justify-content: center;
}

#profile-photo {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.social-media-list {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
  display: flex;
  justify-content: space-around;
}

.about-me-text {
  font-size: 18px;
}
